section.main
    .ui.bottom.attached.tab.segment.active(data-tab='one')
        h3.ui.header Содержание
        h4.ui.header#h4 Дата
        .sub.header Пояснение
        .ui.input.focus
            input(type='text' placeholder='Дата')
        h4.ui.header#h4 Оформление
        h3.ui.header Иллюстрация
        .sub.header Шрина 850 JPG качеством не ниже 65
        //-фото
        button.ui.blue.button Сохранить
        //-загрузка
        h3.ui.header Русскоязычная версия
        h4.ui.header#h4 Название русское
        .sub.header Пояснение
        .ui.input.focus
            input(type='text' placeholder='Информационная поддержка 1')
        h3.ui.header Текст русский
        .sub.header Пояснение
        textarea.ui.segment Для членов Американской Торговой Палаты в РФ, Финско-Российской Торговой Палаты в РФ, Торгово-Промышленной Палаты РФ и других бизнес-сообществ РФ скидка на миграционные и визовые услуги составляет 30% от стандартной стоимости услуг Конфиденс Групп. Условия акции: не распространяются на действующие договоры с Конфиденс Групп; распространяются на услуги Конфиденс Групп в рамках договоров, заключенных в период с 01.06.2017 по 31.08.2017; распространяются только на безналичные расчеты между организациями; не распространяются на государственные пошлины, Консульские и другие сборы государственных и коммерческих организаций; скидка действует до 31.12.2017 года. За дополнительной информацией обращайтесь к консультантам Конфиденс Групп.
        button.ui.blue.button Сохранить
        h3.ui.header Англоязычная версия
        h4.ui.header#h4 Название английское
        .sub.header Пояснение
        .ui.input.focus
            input(type='text' placeholder='Discount for members of the American Chamber of Commerce in the Russian Federation')
        h4.ui.header#h4 Текст английский
        .sub.header Пояснение
        textarea.ui.segment For members of the American Chamber of Commerce in the Russian Federation, the Finnish-Russian Chamber of Commerce in the Russian Federation, the Chamber of Commerce and Industry of the Russian Federation and other business communities of the Russian Federation, a discount on migration and visa services is 30% of the standard cost of Confidence Group services. Promotion terms: do not apply to existing agreements with Confidence Group; apply to the services of the Confidence Group under the contracts concluded during the period from 06/01/2017 to 08/31/2017; apply only to non-cash payments between organizations; do not apply to state duties, Consular and other fees of state and commercial organizations; The discount is valid until 12/31/2017. For more information, contact the consultants of Confidence Group.
        button.ui.blue.button Сохранить