extends ../templates/template
block base
	base(href='../')
block title
	title News-agency
block append style
block content
	include ../blocks/sidebar
	include ../mixins/mixin-info-message
	include ../mixins/mixin-titleInputText
	include ../mixins/mixin-titleAreaText
	include ../mixins/mixin-titleBtnAddText
	include ../blocks/header
		block tabs
			+headerTab("раздел","Информационное агентство",[{"title":"Страница"},{"title":"Публикации"},{"title":"Мероприятия"}], 'МИГРАЦИОННЫЙ КОНСАЛТИНГ / СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ И АКЦИИ')
	main.page
		include content