section.main
    .ui.bottom.attached.tab.segment.active(data-tab='0')
        .sub.header Управляйте последовательностью вывода перетаскиванием строк.
        button.ui.blue.button Добавить
        //-плюсик перед надо добавить
        table.ui.celled.table
            thead
                tr
                    th №
                    th ID
                    th Название
                    th Дата
                    th Действия
            tbody
                tr
                    td(data-label='Name') 1
                    td(data-label='Age') 5
                    td(data-label='Job') Скидка для членов Американской Торговой Палаты в РФ
                    td(data-label='Job') 12.07.20
                    td(data-label='Job')
                tr
                    td(data-label='Name') 2
                    td(data-label='Age') 45
                    td(data-label='Job') Скидка 25% на все миграционные и визовые услуги на протяжении всего 2020-го года
                    td(data-label='Job') 12.07.20
                    td(data-label='Job')
                tr
                    td(data-label='Name') 3
                    td(data-label='Age') 134
                    td(data-label='Job') Скидка 15% на оформление виз
                    td(data-label='Job') 12.07.20
                    td(data-label='Job')
                tr
                    td(data-label='Name') 4
                    td(data-label='Age') 85
                    td(data-label='Job') Льготное оформление въездных виз
                    td(data-label='Job') 12.07.20
                    td(data-label='Job')
                tr
                    td(data-label='Name') 5
                    td(data-label='Age') 24
                    td(data-label='Job') Скидка 30% на льготное оформление разрешение на въезд
                    td(data-label='Job') 12.07.20
                    td(data-label='Job')
                tr
                    td(data-label='Name') 6
                    td(data-label='Age') 247
                    td(data-label='Job') Скидка 10% на разрешение на работу для нерезидентов РФ
                    td(data-label='Job') 12.07.20
                    td(data-label='Job')
    .ui.bottom.attached.tab.segment(data-tab='1')
        p 1