extends ../templates/template
block base
	base(href='../')
block title
	title Relocation
block append style
block content
	include ../blocks/sidebar
	include ../mixins/mixin-info-message
	include ../mixins/mixin-titleInputText
	include ../mixins/mixin-titleAreaText
	include ../mixins/mixin-titleBtnAddText
	include ../blocks/header
		block tabs
			+headerTab("направление деятельности","Релокационные услуги",[{"title":"Русский"},{"title":"Английский"},{"title":"Оформление"},{"title":"П-взаимод."}])
	main.page
		include content