aside.sidebar
    .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar
        .item
            .sidebar__logo 
                img(src="assets/img/logo-main-sidebar.svg", alt="logo")
        .item
            a.item.active(href="main/main.html") Главная
            a.item(href="about/about.html") О компании
        .item
            .subtitle УСЛУГИ
            a.item(href="srvm/srvm.html")  Миграционный консалтинг
            .menu
                a.item(href="specialists/specialists.html") ВКС
                a.item(href="specialists-vcs/specialists-vcs.html") Визовые иностранные граждане, общий порядок
                a.item Безвизовые иностранные граждане, общий порядок
                a.item Аккредитованные сотрудники
                a.item В рамках соглашений с Францией и Южной Кореей
                a.item Разрешение на временное проживание
                a.item Вид на жительство
                a.item Прочие
                a.item(href="sale/sale.html") Специальные предложения и акции
        .item
            a.item(href="visa-support/visa-support.html") ВИЗОВАЯ ПОДДЕРЖКА
            .menu
                a.item Специальные предложения и акции
        .item
            a.item(href="relocation/relocation.html") Релокационные услуги
            .menu
                a.item Пакетные услуги
                a.item Отдельные сервисы
                a.item Специальные предложения и акции
        .item
            a.item Регистрация и аккредитация
            .menu
                a.item Аккредитация представительств и филиалов иностранных  компаний
                a.item Регистрация российских компаний
                a.item Прочие услуги
                a.item Специальные предложения и акции
        .item
            a.item Путешествия и отдых
            .menu
                a.item Специальные предложения и акции
                a.item Специальные предложения и акции
                a.item Отдельные сервисы
        .item
            a.item ИНФОРМАГЕНТСТВО