mixin titleAreaText(title, subtitle, text)
    h4.ui.header.header__subtitle=title
    .sub.header.header__subheader=subtitle
    textarea.ui.segment(class="textEditor" name="example")=text
    button.ui.blue.button Сохранить