include ../../mixins/table-mixin-specialists-vcs-1
+table(
        [
            {"th":" №"},
            {"th":" ID"},
            {"th":"Срок оформления дн."},
            {"th":"Госпошлина ₽"},
            {"th":"Стоимость ₽"},
            {"th":"Действия"}
        ],
        [
            {"id":5,"name":5,"cost1":500,"cost2":500},
            {"id":6,"name":5,"cost1":500,"cost2":500},
            {"id":7,"name":5,"cost1":500,"cost2":500}
        ]
    )