include ../../mixins/table-mixin
+table(
        [
            {"th":" №"},
            {"th":" ID"},
            {"th":" "},
            {"th":"Название"},
            {"th":"Действия"}
        ],
        [
            {"id":5,"img":"assets/img/img-main.png", "name":"Сандуны"},
            {"id":5,"img":"assets/img/img-main.png", "name":"Сандуны"},
            {"id":5,"img":"assets/img/img-main.png", "name":"Сандуны"},
        ]
    )