include ../../mixins/table-mixin-specialists
+table(
        [
            {"th":" №"},
            {"th":" ID"},
            {"th":"Название"},
            {"th":"Дата"},
            {"th":"Действия"}
        ],
        [
            {"id":5,"name":"Разрешение на работу сопровождающего члена семьи высококвалифицированного специалиста (ВКС)","date":"12.07.20"},
            {"id":5,"name":"Многократная рабочая виза Высококвалифицированного специалиста","date":"12.07.20"},
        ]
    )