include ../../mixins/table-mixin-img-2
+table(
        [
            {"th":"№"},
            {"th":"Имя "},
            {"th":"Фото 1."},
            {"th":"Действия"}
        ],
        [
            {"name":"SVKK","img":"assets/img/img-about-2.png"},
            {"name":"Свидетельство","img":"assets/img/img-about-2.png"},
            {"name":"SVKK","img":"assets/img/img-about-2.png"},
        ]
    )