include ../../mixins/table-mixin-about
+table(
        [
            {"th":" №"},
            {"th":"Автор"},
            {"th":"Название"},
            {"th":"Действия"}
        ],
        [
            {"name":"Amec Foster Wheeler","text":"I would like to express my gratitude to your company for doing such a necessary and useful thing, and for supporting other organizations in the field of migration free of charge, as well as for the high professionalism of specialists, providing concrete answers to complex questions and well-chosen interesting material."},
            {"name":"Кузнецова Л.В. Вице-президент Sun Capital Partners Consulting Limited","text":"The representative office of SAN Capital Partners thanks the employees of Confidence Group Service Company LLC for the assistance provided to our foreign employee in obtaining a residence permit. Our corporate manager, Olga Makarova, showed a high level of professionalism, advising us on all issues of interest, talking about all the nuances of the case, offering alternatives, organizing a meeting with the head of the department at the State Budgetary Institution IMC, as well as receiving a document from a foreign citizen. In connection with the current situation in the State Budgetary Institution of MMC, the issuance of a new residence permit to our employee was delayed, and the validity of the current document was drawing to a close. Olga Makarova was able to quickly get involved in the work, she personally monitored on-site that the meeting of our employee with the leader took place, provided advisory and moral support. We also thank Sergey Melekhin for accompanying our employee at the Migration Center. We look forward to further fruitful cooperation."},
            {"name":"Olga BARABLINA Administrative Specialist, Эйрбас","text":"Good afternoon! Thank you very much for the information provided. We also thank for Migration Bulletin No. 6, yesterday we received a magazine. You are great fellows!"},
            {"name":"Ольга Валентиновна Кучеренко Директор по персоналу","text":"Maria, good afternoon! Allow me to express my gratitude on behalf of KMEW to all those involved in the process of extending the Accreditation of the indicated Representative Office, as well as to you personally for your involvement in the process important to the Company and proper supervision of you. THANK!!!"},
            {"name":"Объединение современных технологий и инноваций в хирургии","text":"“Combining modern technologies and innovations in surgery”: Dear Alina Eduardovna! We express our sincere gratitude to you and your team for the professional assistance in the implementation of our medical projects. I would like to note the high professionalism of Svetlana Ryseva. Thanks to her responsibility and clear organization, we managed to carry out a number of hasty educational trips for domestic doctors! We are deeply grateful to you for the fruitful cooperation in 2016."},
            {"name":"Стройтрансгаз","text":"The information is presented in an accessible language, in detail, with many examples. The published journal is useful, as well as mailing with innovations in the legislative migration world. Carrying out these activities is useful and necessary. Thank."},
        ]
    )