include ../../mixins/table-mixin-about
+table(
        [
            {"th":" №"},
            {"th":"Автор"},
            {"th":"Название"},
            {"th":"Действия"}
        ],
        [
            {"name":"Amec Foster Wheeler","text":"Хотелось бы выразить благодарность Вашей компании за то, что делаете такое нужное и полезное дело, и безвозмездно оказываете поддержку другим организациям в сфере миграции, а также за высокий профессионализм специалистов, предоставление конкретных ответов на сложные вопросы и хорошо подобранного интересного материала."},
            {"name":"Кузнецова Л.В. Вице-президент Sun Capital Partners Consulting Limited","text":"Представительство компании САН Капитал Партнерз благодарит сотрудников компании ООО «Конфиденс Групп Сервисная Компания» за оказанное содействие нашему иностранному сотруднику в получении вида на жительство. Наш корпоративный менеджер, Макарова Ольга, проявила высокий уровень профессионализма, консультируя нас по всем интересующим вопросам, рассказывая обо всех нюансах дела, предлагая альтернативы, организовывая встречу с руководителем соответствующего департамента в ГБУ ММЦ, а также получение документа иностранным гражданином. В связи со сложившейся ситуацией в ГБУ ММЦ, выдача нового вида на жительства нашему сотруднику задерживалась, а срок действия текущего документа уже подходил к концу. Макарова Ольга сумела оперативно включиться в работу, на месте лично проконтролировала, чтобы встреча нашего сотрудника с руководителем состоялась, оказала консультативную и моральную поддержку. Также благодарим Мелехина Сергея за сопровождение нашего сотрудника в Миграционным центре. Надеемся на дальнейшее плодотворное сотрудничество."},
            {"name":"Olga BARABLINA Administrative Specialist, Эйрбас","text":"Добрый день! Большое спасибо за предоставленную информацию. Также благодарим за Миграционный Вестник № 6, вчера нам доставили журнал. Вы большие молодцы! "},
            {"name":"Ольга Валентиновна Кучеренко Директор по персоналу","text":"Мария, добрый день! Позвольте выразить благодарность от имени «KMEW» всем лицам, задействованным в процессе продления Аккредитации указанного Представительства, а также лично Вам за вовлеченность в важный для Компании процесс и надлежащее курирование с Вашей стороны. СПАСИБО!!!"},
            {"name":"Объединение современных технологий и инноваций в хирургии","text":"«Объединение современных технологий и инноваций в хирургии»:  Уважаемая Алина Эдуардовна! Выражаем Вам и Вашему коллективу искреннюю благодарность за профессиональную помощь в реализации наших медицинских проектов. Хочется отметить высокий профессионализм Рысевой Светланы. Благодаря ее ответственности и четкой организации, нам удалось осуществить ряду спешных образовательных поездок для отечественных докторов! Глубоко признательны Вам за плодотворное сотрудничество в 2016 году."},
            {"name":"Стройтрансгаз","text":"Информация представлена на доступном языке, подробно, со множеством примеров. Издаваемый журнал полезен, как и рассылка на почту с новшествами в законодательном миграционном мире. Проведение данных мероприятий полезны и нужны. Спасибо."},
        ]
    )