include ../../mixins/table-mixin-img
+table(
        [
            {"th":"№"},
            {"th":"Имя русск."},
            {"th":"Имя англ."},
            {"th":"Фото 1."},
            {"th":"Фото 2."},
            {"th":"Действия"}
        ],
        [
            {"nameRu":"София Батура","nameEn":"Batura Sofiya", "img1":"assets/img/img-about-1.png","img2":"assets/img/img-about-1.png"},
            {"nameRu":"София Батура","nameEn":"Batura Sofiya", "img1":"assets/img/img-about-1.png","img2":"assets/img/img-about-1.png"},
            {"nameRu":"София Батура","nameEn":"Batura Sofiya", "img1":"assets/img/img-about-1.png","img2":"assets/img/img-about-1.png"},
        ]
    )