include ../../mixins/table-mixin-specialists-vcs-2
+table(
        [
            {"th":" №"},
            {"th":" ID"},
            {"th":"Название"},
            {"th":"Тип"},
            {"th":"Дата"},
            {"th":"Действия"}
        ],
        [
            {"id":5,"name":"Правительство предусмотрит меры приглашающей стороны для соблюдения иностранцем режима пребывания (проживания) в РФ","type":"новость","date":"5.09.20"},
            {"id":6,"name":"Правительство предусмотрит меры приглашающей стороны для соблюдения иностранцем режима пребывания (проживания) в РФ","type":"новость","date":"5.09.20"},
            {"id":7,"name":"Правительство предусмотрит меры приглашающей стороны для соблюдения иностранцем режима пребывания (проживания) в РФ","type":"новость","date":"5.09.20"},
        ]
    )