include ../../mixins/table-mixin-package
+table(
        [
            {"th":" №"},
            {"th":" ID"},
            {"th":"Название"},
            {"th":"Дата"},
            {"th":"Действия"}
        ],
        [
            {"id":5,"name":"ВИП","date":"12.07.20"},
            {"id":5,"name":"Бизнес","date":"12.07.20"},
            {"id":5,"name":"Стандарт","date":"12.07.20"},
            {"id":5,"name":"Базовый","date":"12.07.20"},
            ]
    )